# Compiled pyc #
################
*.pyc
.*
!/.gitignore
__pycache__
*.img
sregistry

# Other #
#########
migrations/
make_video.sh
celerybeat-schedule.db
*.mp4
OLD
secrets.py
local_settings.py
cronjob

# Static #
##########
/data
